
.row.content {
  height: 1500px; /*set height so sidenav can be 100%*/
}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  padding: 15px;
}

.card-body {
  background-color: #f2f2f2;
  padding: 25px;
}
