{% extends 'base.html' %}

{% block content %}

	 <h3>{{ movie.title }}</h3>

	{% if movie.poster_path == None %}
		<img src="/static/tmdb_logo.png" width="150" height="150" alt="The Movie Database tmdb_logo">
	{% else %}
		<img src="{{ image_url }}{{ movie.poster_path }}" alt="{{ movie.title }} poster" alt="{{ movie.title }} poster">
	{% endif %}

	 {{ movie.release_date }}
	 {{ movie.runtime }}
	 {{ movie.genres }}
	 <a href="https://www.imdb.com/title/{{ movie.imdb_id }}">IMDB Link</a>
	 {{ movie.tagline }}
	 Overview: {{ movie.overview }}

{% endblock %}
