{% extends 'base.html' %}

{% block content %}

	<section class="jumbotron text-center">
		<div class="container">
			<a href="/"><h1 style="font-size: 36px">Movie Discovery App</h1></a>
			<p>Search for a movie</p>
			<!-- Search form -->
			<form class="form-inline" action="{{ url_for('search') }}" methods="GET">
				<div class="form-group">
					<input class="form-control" type="search" name="searchTerms" placeholder="Search" aria-label="Search">
					<span class="input-group-btn">
						<button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>

		</div>

	</section>

	<h3>Popular Movies</h3>

	<div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
				{% for movie in movies %}
				<tr>
					<!-- if there is no image available, use The Movie Database logo -->
					{% if movie.poster_path == None %}
						<td><img src="/static/tmdb_logo.png" width="100" height="100" alt="The Movie Database tmdb_logo"></td>
					{% else %}
						<td><img src="{{ image_url }}{{ movie.poster_path }}" alt="{{ movie.title }} poster"></td>
					{% endif %}

						<td> <a href="{{ url_for('get_details', movie_id=movie.id)}}"> {{ movie.title }} </a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}