{% extends 'base.html' %}

{% block content %}

	<h3>Popular Movies</h3>

	<div>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
				{% for movie in movies %}
				<tr>
					<!-- if there is no image available, use The Movie Database logo -->
					{% if movie.poster_path == None %}
						<td><img src="/static/tmdb_logo.png" width="100" height="100" alt="The Movie Database tmdb_logo"></td>
					{% else %}
						<td><img src="{{ image_url }}{{ movie.poster_path }}" alt="{{ movie.title }} poster"></td>
					{% endif %}

						<td> <a href="{{ url_for('get_details', movie_id=movie.id)}}"> {{ movie.title }} </a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}