{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row content">
		<div class="col-sm-2 sidenav">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="/">Home</a></li>				
			</ul>
		</div>

		<div class="col-sm-10">

			<h3 style="padding-top: 25px">Search Results</h3>

				<table class="table">
					<tbody>
						<!-- begin Jinja for search results -->
						{% for movie in movies %}
						<tr>
							<!-- if there is no image available, use The Movie Database logo -->
							{% if movie.poster_path == None %}
								<td><a href="{{ url_for('get_details', movie_id=movie.id)}}"><img src="/static/tmdb_logo.png" class="img-responsive" alt="The Movie Database tmdb_logo"></a></td>
							{% else %}
								<td><a href="{{ url_for('get_details', movie_id=movie.id)}}"><img src="{{ image_url }}{{ movie.poster_path }}" class="img-responsive" alt="{{ movie.title }} poster"></a></td>
							{% endif %}

							<td> <a href="{{ url_for('get_details', movie_id=movie.id)}}"> {{ movie.title }} </a></td>
						</tr>
						{% endfor %}
						<!-- end Jinja for search results -->
					</tbody>
				</table>

		</div>

	</div>
</div>



{% endblock %}
